{% extends 'layout.twig' %}

{% block content %}
<div id="TablaPosiciones" style="margin-top: 70px">
    <h3 id="etiquetaPosiciones" style="text-align: center"><b>Clubes  </b><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-lg-form">Agregar +</button></h3>
    <div class="modal modal-lg-form" tabindex="-1" role="dialog" style="background-color:white;" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <form method="POST" action="/editarClubes/guardar" enctype="multipart/form-data">
        {{ csrf_field() }}
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre del club</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Ingrese nombre" name="nombre" required>
        </div>

        <div class="form-group">
          <label for="descripcionInput">Descripcion</label>
          <textarea class="form-control" id="exampleTextarea" rows="3" name="descripcion" required></textarea>
        </div>
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="escudo">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
        <div class="form-group">
          <label for="sitioWebInput">Sitio Web</label>
          <input type="url" class="form-control" id="sitioWeb" aria-describedby="emailHelp" placeholder="Ingrese pagina web" name="link" required>
          <small id="sitioWeb" class="form-text text-muted">Ejemplo: http://www.ejemplo.com</small>
        </div>
        <div class="form-group">
          <label>Plantel</label>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Posicion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Primera Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Primera Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Primera Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Segunda Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Segunda Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Tercera Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Tercera Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Tercera Linea" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Medio Scrum" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Apertura" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Wing Izquierdo" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Centro Interior" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Centro Exterior" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Wing Derecho" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
              <tr>
                <td><input type="text" readonly class="form-control-plaintext" value="Full Back" name="posicion[]"></td>
                <td><input type="text" class="form-control" name="nombres[]"></td>
                <td><input type="text" class="form-control" name="apellido[]"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </form>

    </div>
    <table class='table' bgcolor="white" id='tablaIndex'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'>Club</th>
          <th scope='col'>Escudo</th>
          <th scope='col'>Descripcion</th>
          <th scope='col'>Pagina Web</th>
          <th scope='col'>Plantel</th>
        </tr>
      </thead>
      <tbody>

        {% for club in clubes %}
          <tr>
            <td>{{club.nombre}}</td>
            <td><img HEIGHT="30" WIDTH="30" src="images/{{club.escudo}}"></td>
            <td>{{club.descripcion}}</td>
            <td><a class="btn btn-primary" href="{{club.link}}" target="_blank">
              Ver
            </a></td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-lg-{{club._id}}">Ver</button>
              {% if user %}
              <button type="button" class="btn btn-warning" id="{{club._id}}" onclick="guardarFavorito(this.id)"><i class="fas fa-star"></i> Favorito</button>
              {% endif %}
              <div class="modal fade modal-lg-{{club._id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <ul class="list-group">
                      {% for jugador in club.jugadores %}
                      <li class="list-group-item">{{jugador.nombre}} {{jugador.apellido}}
                        <small><strong> {{jugador.posicion}} </strong></small>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
