{% extends 'layout.twig' %}

{% block content %}
<style>
.different {
  background-color: rgb(94, 94, 94); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.different:hover {
  background-color: RoyalBlue;
}
</style>
<div id="TablaPosiciones" style="margin-top: 70px">
  <h3 id="etiquetaPosiciones" style="text-align: center"><b>Partidos para elegir editor</b></h3>
</div>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Partido</th>
        <th scope="col">Local</th>
        <th scope="col">Visitante</th>
        <th scope="col">Editor</th>
        <th scope="col">Guardar</th>
      </tr>
    </thead>
    <tbody>
      {% set index = 1 %}
      {% for fecha in fechas %}
        {% for partido in fecha.partidos %}
          {% if partido.estado == "no iniciado" %}
          <tr>
            <td>{{fecha.numero}}</td>
            <td>{{index}}</td>
            <td> {{partido.local}}</td>
            <td>{{partido.visitante}}</td>
            <td>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Seleccione...</option>
                {% set value = 1 %}
                {% for editor in editores %}
                  <option value="{{value}}">{{editor.username}}</option>
                  {% set value = value+1 %}
                {% endfor %}
              </select>
          </td>
            <td>
              <button class="different" id="{{partido._id}}" onclick="guardarPartido(this)"><i class="far fa-save"></i></button>
            </td>
          </tr>
          {% endif %}
        {% set index = index+1 %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="/javascripts/guardarPartido.js"></script>
{% endblock %}
