{% extends 'layout.twig' %}

{% block content %}
<style>
.different {
  background-color: rgb(94, 94, 94); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.different:hover {
  background-color: RoyalBlue;
}
</style>
<div id="TablaPosiciones" style="margin-top: 70px">
  <h3 id="etiquetaPosiciones" style="text-align: center"><b>Partidos para elegir editor</b></h3>
</div>
<div>
  {% set index = 1 %}
  {% for fecha in fechas %}
  {% if fecha.partidos|length >=1 %}
    <h4>Fecha {{fecha.numero}}</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Partido</th>
          <th scope="col">Local</th>
          <th scope="col">Visitante</th>
          <th scope="col">Editor</th>
          <th scope="col">Guardar</th>
        </tr>
      </thead>
      <tbody>
          {% for partido in fecha.partidos %}
            <tr>
              <td>{{index}}</td>
              <td> {{partido.local}}</td>
              <td>{{partido.visitante}}</td>
              <td>
                <form method="POST" action="/editarTorneo/guardar">
                  {{ csrf_field() }}
                  <input type="hidden" readonly class="form-control-plaintext" value="{{partido._id}}" name="partido">
                  <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      {% set encontre = false %}
                      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="editor">
                        <option selected value="">Seleccione...</option>
                        {% for editor in editores %}
                        {% if partido.editor == editor.googleId and encontre == false %}
                          <option selected value="{{editor.googleId}}">{{editor.username}}</option>
                          {% set encontre = true %}
                        {% else %}
                          <option value="{{editor.googleId}}">{{editor.username}}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                      <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                  </div>
              </td>
              <td>
                <div class="col-auto my-1">
                  <button type="submit" class="different" id="{{partido._id}}"><i class="far fa-save"></i></button>
                </div>
              </td>
                </form>
              </tr>
          {% set index = index+1 %}
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}
